@media screen and (max-width: 1024px) {
  .main-banner .container .banner-block .main-banner-title span {
    font-size: 52px;
  }
  .main-banner .container .banner-block .btn {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    text-shadow: 0 0 0 0.2px black;
    transition: all 1s ease;
    font-size: 26px;
    font-weight: 200;
    font-family: Myriad, Roboto, Helvetica, Arial, sans-serif;
    outline: none;
    padding: 15px 30px;
    box-shadow: 0 6px white;
    color: white;
  }
  .main-banner .container .banner-block .btn:hover {
    background: white;
    color: black;
    box-shadow: 0 6px gray;
  }
  .main-banner .container .banner-block .btn:active {
    top: 2px;
    box-shadow: 0 3px gray;
  }
  .main-banner .container .slick-banner-header {
    z-index: 1;
  }
  .main-banner .container .slick-banner-header .banner-picture {
    height: 95vh;
  }
  .main-banner .container .slick-banner-header .banner-picture .container {
    width: 100%;
    height: inherit;
    background: rgba(0, 0, 0, 0.3);
  }
  .main-banner .container .slick-banner-header .banner-picture-first {
    background: url("../img/Roofing1.jpg") center top no-repeat;
    background-size: cover;
  }
  .main-banner .container .slick-banner-header .banner-picture-second {
    background: url("../img/bath.jpg") center top no-repeat;
    background-size: cover;
  }
  .main-banner .container .slick-banner-header .banner-picture-three {
    background: url("../img/roofing-boca-raton.jpg") center top no-repeat;
    background-size: cover;
  }
  .why-acrylic-bath .container .roof-info .roof-info-block .number {
    padding-right: 25px;
  }
  .why-acrylic-bath .container .roof-info {
    padding: 20px 0;
  }
  .arrow-top {
    position: fixed;
    opacity: 0;
    top: 86%;
    right: 40px;
    border: 3px solid white;
    background: #ebb19e;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    z-index: 10000;
    transition: opacity 0.5s;
  }
  .arrow-top i {
    position: absolute;
    color: white;
    font-size: 28px;
    top: 11%;
    left: 18%;
  }
  .navbar-header {
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
    position: absolute;
  }
  .navbar-header .container .cross-nav {
    display: block;
    position: absolute;
    top: 3%;
    right: 7%;
  }
  .navbar-header .container .cross-nav i {
    font-size: 40px;
    color: black;
  }
  .navbar-header .container h3 {
    display: block;
    margin: 16px auto;
    text-align: center;
    font-size: 21px;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: 200;
    transition: all 0.5s ease;
    text-decoration: none;
  }
  .navbar-header .container h3:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .navbar-header .container .nav-menu {
    display: none;
  }
  .navbar-header .container .nav-menu.open {
    display: block;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    margin: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 1000000;
  }
  .navbar-header .container .nav-menu.open li:first-of-type {
    padding-top: 50px;
  }
  .navbar-header .container .nav-menu.open li {
    display: block;
    list-style-type: none;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
  }
  .navbar-header .container .nav-menu.open li a {
    font-size: 21px;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: 200;
    transition: all 0.5s ease;
    text-decoration: none;
  }
  .navbar-header .container .nav-menu.open li:hover {
    opacity: 0.7;
  }
  .why-acrylic-bath .container h2 {
    margin: 30px auto 35px auto;
    font-size: 52px;
  }
}
@media screen and (max-width: 768px) {
  .services .container .services-list .falc {
    flex: 1 50%;
  }
  .services .container .services-list .prof-list {
    flex: 1 50%;
  }
  .services .container .services-list .metalo-cherep {
    flex: 1 50%;
  }
  .services .container .services-list .keram-cherep {
    flex: 1 50%;
  }
}
@media screen and (max-width: 543px) {
  .header .container .order {
    padding-bottom: 20px;
  }
}
