@media screen and (max-width: 1024px){
  .main-banner{
    .container{

      .banner-block{

        .bath-logo-container{

          p{

          }
          .bath-logo{

          }
        }
        .main-banner-title{

          span{
            font-size: 52px;
          }
        }
        .btn{
          display: block;
          margin: 0 auto;
          position: relative;
          text-align: center;
          background: transparent;
          border: 1px solid white;
          border-radius: 20px;
          text-shadow: 0 0 0 0.2px black;
          transition: all 1s ease;
          font-size: 26px;
          font-weight: 200;
          font-family: Myriad,Roboto, Helvetica, Arial, sans-serif;
          outline: none;
          padding: 15px 30px;
          box-shadow: 0 6px white;
          color: white;
          &:hover{
            background: white;
            color: black;
            box-shadow: 0 6px gray;

          }
          &:active{
            top:2px;
            box-shadow: 0 3px gray;
          }
        }
      }
      .slick-banner-header{
        z-index: 1;
        .banner-picture{
          height:95vh;
          .container{
            width: 100%;
            height: inherit;
            background: rgba(0,0,0,0.3);
          }
        }
        .banner-picture-first{
          background: url("../img/Roofing1.jpg") center top no-repeat;
          background-size: cover;
        }
        .banner-picture-second{
          background: url("../img/bath.jpg") center top no-repeat;
          background-size: cover;
        }
        .banner-picture-three{
          background: url("../img/roofing-boca-raton.jpg") center top no-repeat;
          background-size: cover;
        }
      }
    }
  }
  .why-acrylic-bath .container .roof-info .roof-info-block .number{
    padding-right: 25px;
  }
  .why-acrylic-bath .container .roof-info{
    padding: 20px 0;
  }
  .arrow-top{
    position: fixed;
    opacity: 0;
    top: 86%;
    right: 40px;
    border: 3px solid white;
    background: #ebb19e;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    z-index: 10000;
    transition: opacity 0.5s;
    i{
      position: absolute;
      color: white;
      font-size: 28px;
      top: 11%;
      left: 18%;
    }

  }



  .navbar-header{
    width: 100%;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    opacity: 1;
    position: absolute;
    .container{
      .cross-nav{
        display: block;
        position: absolute;
        top:3%;
        right:7%;
        i{
          font-size: 40px;
          color: black;
        }
      }
      h3{
        display: block;
        margin: 16px auto;
        text-align: center;
        font-size: 21px;
        font-family: Arial, sans-serif;
        color: white;
        font-weight: 200;
        transition: all 0.5s ease;
        text-decoration: none;
        &:hover{
          opacity: 0.7;
          cursor: pointer;
        }
      }
      .nav-menu{
        display: none;
      }
      .nav-menu.open{
        display: block;
        position: fixed;
        padding: 0;
        overflow-y: hidden;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        right: 0;
        bottom: 0;
        background: white;
        z-index: 1000000;
        height: 100%;
        li:first-of-type{
          padding-top: 50px;
        }
        li{
          display: block;
          list-style-type: none;
          line-height: 100px;
          margin: 0 auto;
          text-align: center;
          a{
            font-size: 21px;
            font-family: Arial, sans-serif;
            color: black;
            font-weight: 200;
            transition: all 0.5s ease;
            text-decoration: none;
          }
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }

  .why-acrylic-bath .container h2{
    margin: 30px auto 35px auto;
    font-size: 52px;
  }
  .sign-popup{
    margin: 15% auto 3% auto;
  }
}
@media screen and(max-width: 768px){
  .services .container .services-list .falc{
    flex: 1 50%;
  }
  .services .container .services-list .prof-list{
    flex: 1 50%;
  }
  .services .container .services-list .metalo-cherep{
    flex: 1 50%;
  }
  .services .container .services-list .keram-cherep{
    flex: 1 50%;
  }
  .why-acrylic-bath .container .roof-info .roof-info-block .info p{
    font-size: 22px;
  }
  .why-acrylic-bath .container .roof-info .roof-info-block .number p{
    width: 70px;
    height: 70px;
  }
  .why-acrylic-bath .container .roof-info {
    padding: 0px 0;
  }
  .examples .container .slick-examples .arrow-right i {
    right: 0;
  }
  .examples .container .slick-examples .arrow-left i {
    left: 0;
  }
  .main-banner .container .banner-block .main-banner-title span {
    font-size: 36px;
  }
  .services .container h2 {
    font-size: 46px;
  }
  .why-acrylic-bath .container .roof-info .roof-info-block .number p span {
    position: relative;
    top: 15%;
    color: white;
  }
  .arrow-top.arrow-top{
    right: 15px;
  }

  .why-acrylic-bath .container .roof-info .roof-info-block{
    display: block;
    .number{
      display: block;
      margin: 0 auto;
      width: 100%;
      p{
        margin: 0 auto;
      }
    }
    .info{
      display: block;
      margin: 0 auto;
      width: 100%;
      p{
        padding: 30px;
      }
    }
  }

  .why-acrylic-bath .container .roof-info .roof-info-block .number {
    padding: 0;
  }
.examples .container .slick-examples .arrow-left i{
    left:10%;
  }
  .examples .container .slick-examples .arrow-left i{
    right: 5%;
  }
  .why-acrylic-bath .container h2 {
    margin: 60px auto 10px auto;
    font-size: 52px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 620px){
  .container.container.container h2 {
    font-size: 38px;
  }
  .modal-container .close-modal{
    right: 5px;
    top: 5px;
    color: white;
    background: #ebb19e;
  }
  .arrow-top {
    position: fixed;
    opacity: 0;
    top: 90%;
    right: 40px;
    border: 3px solid white;
    background: #ebb19e;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    z-index: 100;
    transition: opacity 0.5s;
  }
  h2{
    font-size: 38px !important;
  }
  .header .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .header .container > div{
    padding: 10px 0;
  }
  .sign{
    width: 350px;
  }
}

@media screen and (max-width: 570px){
  .footer .container .email {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
  }
  .footer .container .copy {
    font-size: 15px;
    color: white;
    font-weight: 200;
    display: block;
    text-align: center;
    padding: 5px 0;
    width: 100%;
  }
  .footer .container .copy span {
    font-size: 15px;
    padding: 20px;
    margin: 0;
    color: white;
    text-decoration: none;
  }
  .modal-container{
    padding: 0;
  }
}

@media screen and (max-width: 543px){
  .header .container .order{
    padding-bottom: 20px;
  }
  .sign-popup {
    width: 300px;
  }
}
@media screen and (max-width: 480px){
  .services .container .services-list .falc{
    flex: 1 100%;
  }
  .sign-popup {
    width: 270px;
  }
  .services .container .services-list .prof-list{
    flex: 1 100%;
  }
  .services .container .services-list .metalo-cherep{
    flex: 1 100%;
  }
  .services .container .services-list .keram-cherep{
    flex: 1 100%;
  }
}

@media screen and (max-width: 425px) {
  .main-banner .container .banner-block .main-banner-title span {
  font-size: 26px;
  }
  .services .container .services-list .service-block h3{
    font-size: 24px;
  }
  .main-banner .container .banner-block .btn {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    text-shadow: 0 0 0 0.2px black;
    transition: all 1s ease;
    font-size: 20px;
    font-weight: 200;
    font-family: Myriad, Roboto, Helvetica, Arial, sans-serif;
    outline: none;
    padding: 10px 20px;
    box-shadow: 0 6px white;
    color: white;
  }
  .main-banner .container .banner-block .btn:hover {
    background: white;
    color: black;
    box-shadow: 0 3px grey;
  }
}

