body{
  min-width: 320px;
  width: 100%;
}
@import "feedback-form.css";
@import "media.less";
@font-face {
  font-family: Plainot;
  src: url('../libs/10213.ttf');
}
@font-face {
  font-family: Myriad;
  src: url('../libs/Myriad-Pro-Light_31642.ttf');
}
@font-face {
  font-family: PlainotLight;
  src: url('../libs/10213.otf');
}
@font-face {
  font-family: Astachov;
  src: url('../libs/10403.ttf');
}
.header{
  background: white;
  width: 100%;
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  .logo-header{
    h2{
      a{
        font-size: 28px;
        font-family: Astachov;
        padding: 20px;
        margin: 0;
        color: black;
        text-decoration: none;
      }
      &:hover{
        cursor: pointer;
      }
      }
    }
    .info-header{
      .phone{
        p{
          margin: 0;
          font-size: 21px;
          i{
            font-size: 26px;
            padding-right: 10px;
            position: relative;
            top: 4px;
          }
        }
        span{
          font-size: 16px;
          color: #dcd3cd;
        }

      }
    }
    .order{
      .btn{
        display: block;
        margin: 0 auto;
        position: relative;
        text-align: center;
        background: transparent;
        border: 1px solid black;
        border-radius: 10px;
        transition: all .5s ease;
        font-size: 24px;
        font-weight: 200;
        font-family: Myriad, Roboto, Helvetica, Arial, sans-serif;
        outline: none;
        opacity: 0.7;
        padding: 5px 40px;
        box-shadow: 0 6px white;
        color: black;
        &:hover{
          opacity: 1;
          background: #ebb19e;
          color: white;
          border: 1px solid transparent;
        }
        &:active{
          top:2px;
        }
      }
    }

  }
}
.navbar-header{
  width: 100%;
  z-index: 10;
  background: rgba(0,0,0,0.4);
  opacity: 1;
  position: fixed;
  .container{
    .nav-menu{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      li{
        display: inline-block;
        list-style-type: none;
        font-size: 21px;
        font-family: Plainot, Helvetica, Arial, sans-serif;
        color: white;
        font-weight: 200;
        transition: all 0.5s ease;
        &:hover{
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
  }
}

.main-banner{
  .container{
    position: relative;
    .banner-block{
      margin: auto;
      display: block;
      position: absolute;
      width: 100%;
      top: 13vh;
      z-index: 500;
      .bath-logo-container{
        display: block;
        width: 100%;
        margin: 0 auto 50px auto;
        text-align: center;
        p{
          height: 2px;
          width: 40%;
          background: #706954;
          display: inline-block;
          vertical-align: middle;
        }
        .bath-logo{
          display: inline-block;
          margin: 0 10px 0 10px;
        }
      }
      .main-banner-title{
        display: block;
        text-align: center;
        font-size: 72px;
        font-weight: 200;
        font-family: Plainot, Helvetica, Arial, sans-serif;
        color: white;
        font-weight: 200;
        letter-spacing: 3px;
        text-shadow: 0  0.9px black;
        text-transform: uppercase;
        z-index: 5000;
        overflow: auto;
        margin: 0 auto 90px auto;
        span{
          color: hsl(15, 66%, 77%);;
          font-size: 72px;
          font-weight: bold;
          font-family: PlainotLength, Helvetica, Arial, sans-serif;
        }
      }
      .btn{
        display: block;
        margin: 0 auto;
        position: relative;
        text-align: center;
        background: transparent;
        border: 1px solid white;
        border-radius: 20px;
        text-shadow: 0 0 0 0.2px black;
        transition: all 1s ease;
        font-size: 32px;
        font-weight: 200;
        font-family: Myriad,Roboto, Helvetica, Arial, sans-serif;
        outline: none;
        padding: 20px 40px;
        box-shadow: 0 6px white;
        color: white;
        &:hover{
          background: white;
          color: black;
          box-shadow: 0 6px gray;

        }
        &:active{
          top:2px;
          box-shadow: 0 3px gray;
        }
      }
    }
    .slick-banner-header{
      z-index: 1;
      .banner-picture{
        height:100vh;
      }
      .banner-picture-first{
        background: url("../img/roofMain.jpg") center top no-repeat;
        background-size: cover;
      }
      .banner-picture-second{
        background: url("../img/roof1.jpg") center top no-repeat;
        background-size: cover;
      }
      .banner-picture-three{
        background: url("../img/roof2.jpg") center top no-repeat;
        background-size: cover;
      }
    }
    .arrow-info{
      position: absolute;
      top:90%;
      width: 100%;
      margin: auto;
      text-align: center;
      height: 50px;
      opacity: 0.8;
      z-index: 100;
      &:hover{
        cursor: pointer;
        opacity: 1;
        transition: opacity 1s;
      }
      .fa-chevron-down{
        color: #706954;
        font-size: 64px;
      }
    }
  }
}
.why-acrylic-bath{
  width: 100%;
  height:100vh;
  .container{
    h2{
      display: block;
      text-align: center;
      font-size: 64px;
      font-weight: 500;
      font-family: Myriad,Roboto, Helvetica, Arial, sans-serif;
      color: #706954;
      text-shadow: 0  0.9px white;
      text-transform: uppercase;
      z-index: 5000;
      overflow: auto;
      margin: 80px auto 90px auto;
    }

    .acrylic-info{
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 40px 0 40px 0;
      height: 700px;
      .acrylic-info-block{
        width: 50%;
        height: 500px;
        border: 1px solid black;
        margin: 0;
        outline: none;
        height: 100%;
        display: inline-block;
      }
    }

  }
}

@import "media";