body{
  min-width: 320px;
}
.main-banner{
  .container{
    position: relative;
    .main-banner-title{
      display: block;
      text-align: center;
      font-size: 72px;
      font-family:  Roboto,Helvetica,Arial,sans-serif;
      color: white;
      font-weight: 200;
      text-shadow: 0  0.9px black;
      text-transform: uppercase;
      z-index: 5000;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 30%; left: 0; bottom: 0; right: 0;

    }
    .slick-arrow{
      display: none;
    }
    .slick-banner-header{
      z-index: 1;
      .banner-pitcure{
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }
}